body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }

  header {
    background-color: #04A507;
    color: #fff;
    padding: 0.3rem;
    text-align: center;
  }

  nav {
    background-color: #088908;
    overflow: hidden;
  }

  nav a {
    float: right;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-top: 0.5rem;
  }
  /* Cambia el color al pasar el ratón sobre los enlaces */
  nav a:hover {
    text-decoration: underline;
    color: black;
  }
  nav img {
    height: 50px; /* Ajusta el tamaño del logo según tus necesidades */
    margin: 5px 20px; /* Ajusta el margen del logo según tus necesidades */
  }
  h2 {
        color: #04A507;
    }
  section {
    padding: 2rem;
    text-align: center;
    width: 100%; /* Ajusta el ancho de las secciones al 50% del cuerpo */
    /*margin: auto; /* Centra las secciones horizontalmente */
    margin: 20px 0;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .geographies {
    overflow-x: auto;
    white-space: nowrap;
  }

  .geography-item {
    display: inline-block;
    margin-right: 10px;
  }
  .subscribe-button {
        background-color: #32C235;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    .location-map {
        width: 100%;
        height: 400px;
        margin: 20px 0;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .investors-list {
        list-style-type: none;
        padding: 0;
    }

    .investors-list li {
        background-color: #32C235;
        color: #fff;
        padding: 10px 20px;
        margin: 5px 0;
        border-radius: 5px;
    }
    .fruits-section {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .fruit-item {
        width: 30%;
        margin: 10px;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .whats-coming-up {
        background-color: #04A507;
        color: #fff;
        padding: 20px;
    }

    .centered-list {
        text-align: center;
    }
    .countries-section {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .country-item {
        background-color: #F6B17A;
        color: #fff;
        padding: 10px 20px;
        border-radius: 8px;
        margin: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    input,
      select {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        box-sizing: border-box;
      }
      form {
        max-width: 400px;
        margin: 0 auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

      .pricing-table {
        width: 80%;
        margin: auto;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    .pricing-table th, .pricing-table td {
        padding: 15px;
        border: 1px solid #ddd;
    }

    .pricing-table th {
        background-color: #04A507;
        color: #fff;
    }

    .pricing-table tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .container {
      display: flex;
    }

    .text-section {
      flex: 70%;
      padding: 0.3rem;
      text-align: right;
      font-size: x-large;
    }

    .button-section {
      flex: 30%;
      display: flex;
      align-items: center;
      justify-content: left;
    }

    button {
      padding: 10px;
      font-size: 1.4rem;
      background-color: #32C235;
      color: black;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
}

.grid-item {
  padding: 20px;
  font-size: 4rem;
  text-align: center;
}

.faq-section {
  max-width: 50%;
  margin: 0 auto;
}

.question {
  cursor: pointer;
  margin-bottom: 10px;
  overflow: hidden;
}

.answer {
  display: none;
  margin-bottom: 20px;
}



  footer {
    background-color: #088908;
    color: #fff;
    padding: 10px;
    text-align: center;
    bottom: 0;
    width: 100%;
  }
  /* Estilos para hacer la página responsive */
  @media (max-width: 768px) {
    .location-map {
        height: 200px;
    }
}